/* General Styling */
body {
  font-size: 20px;
  font-weight: bold;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
button {
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 22px;
  padding: 15px 25px;
  margin-top: 50px;
}
/* Pseudo class added to button element */
button:hover {
  background-color: lightblue;
}
label {
  margin-right: 10px;
}
input {
  width: 28%;
  margin-bottom: 20px;
  border: 2px solid black;
}
/*Submit */
#submitPart {
  color: white;
  background-color: blue;
  font-size: 15px;
  border-radius: 8px;
  padding: 8px 10px;
  margin-left: 8px; 
}
/* Container styling */
#container {
  width: 500px;
  height:500px;
  border: 2px solid black;
  position: absolute;
  left: 350px;
  top: 100px;
  text-align: center;
  
}
/*Question-container */
#questionContainer {
  margin: 10px;
}
/* Time */
#currentTime {
  float: Right;
  margin: 10px;
}
/* List styling */
li {
  background-color: blue;
  width: 40%;
  font-size: 18px;
  color: white;
  margin-top: 8px; 
  padding: 8px 18px; 
  text-align: left;
}
li:hover {
  background-color: lightblue;
}
/* Div styling: Displays answer is correct/wrong */
#newDiv {
  border-top: 2px solid black;
  font-size: 18px;
  width: 70%;
  text-align: left;
  padding: 10px;
  color: blue;
}
/* Media-Query */
@media screen and (max-width: 978px) {
  body {
    font-size: 10px;
  }
 
  #container {
    position: static;
    width: 50%;
    font-size: 16px;
  }
  li {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
}