/* General Styling */
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
button {
  border-radius: 10px;
}
/* Container styling */
#container {
  width: 500px;
  height:500px;
  border: 2px solid black;
  position: absolute;
  left: 350px;
  top: 100px;
  text-align: center;
  
}
/* Button styling */
#startQuiz {
  background-color: blue;
  color: white;
  font-size: 22px;
  padding: 15px 25px;
  margin-top: 50px;
}
/* Question-container */
#questionContainer {
  margin: 20px;
}
/* Time */
#currentTime {
  float: Right;
}
/* List styling */
li {
  background-color: blue;
  width: 82%;
  font-size: 18px;
  color: white;
  margin-top: 8px; 
  padding: 8px 18px; 
}
#newDiv {
  border: 2px solid black;
  font-size: 16px;
  width: 50%;
  margin: auto;
  padding: 10px;
}